@import url('https://fonts.googleapis.com/css?family=Robot|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
}

body {
    background-color: black;
    font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: white;
    cursor: pointer;
}

header #logo span {
    font-size: 1.3em;
    line-height: 60px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

header #logo img {
    float: left;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 15%;
}

@media (min-width: 951px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.3em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 950px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1em;
    }

    #about {
        float: left;
        width: 100%;
    }
}

@media (max-width: 800px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }

    #about {
        float: left;
        width: 100%;
    }
}

@media (max-width: 800px) {
    #logo span {    
        font-size: 1em;
    }
}

@media (max-width: 800px) {
    #about a {    
        font-size: 0.8em;
    }
} 

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#about > a {color: white}

#about > a:hover {
    color: gray;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

.fixed {
    z-index: 5000;
    background-color: white;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Блок модели */

/* пвх окна */

#product {
    float: left;
    background-color: gray;
    background-blend-mode: multiply;
    background-image: url("image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: white;
}

#product h2 {
    font-size: 4em;
    margin-top: 200px;
}

@media (max-width: 800px) {
    #product h2 {
        font-size: 2.5em;
    }
}

#product .img {
    float: left;
    width: 15%;
    margin-right: 5%;
    margin-top: 50px;
    margin-left: 50px;
}

#product .img:nth-child(odd) {
    margin-left: 1%;
}

#product img {
    background: white;
    padding: 5px;
    border: 2px solid silver;
    width: 100%;
    max-width: 300px;
}

#product span {
    float: left;
    width: 100%;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

/* Алюминиевые Окна */

#product1 {
    float: left;
    background-color: gray;
    border-top: 2px solid silver;
    background-blend-mode: multiply;
    background-image: url("image/gffjpg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: white;
}

#product1 h2 {
    font-size: 4em;
}

@media (max-width: 800px) {
    #product1 h2 {
        font-size: 2.5em;
    }
}

#product1 .img {
    float: left;
    width: 15%;
    margin-right: 5%;
    margin-top: 50px;
    margin-left: 50px;
}

#product1 .img:nth-child(odd) {
    margin-left: 1%;
}

#product1 img {
    background: white;
    padding: 5px;
    border: 2px solid silver;
    width: 100%;
    max-width: 300px;
}

#product1 span {
    float: left;
    width: 100%;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

/* двери */

#door {
    float: left;
    background-color: gray;
    border-top: 2px solid silver;
    background-blend-mode: multiply;
    background-image: url("image/doorbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: white;
}

#door h2 {
    font-size: 4em;
}

@media (max-width: 800px) {
    #door h2 {
        font-size: 2.5em;
    }
}

#door .img {
    float: left;
    width: 15%;
    margin-right: 5%;
    margin-top: 50px;
    margin-left: 50px;
}

#door .img:nth-child(odd) {
    margin-left: 1%;
}

#door img {
    background: white;
    padding: 10px;
    border: 2px solid silver;
    width: 100%;
    max-width: 300px;
}

#door span {
    float: left;
    width: 100%;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

@media (max-width: 800px) {
    #product .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
}

@media (max-width: 800px) {
    #product1 .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
}

@media (max-width: 800px) {
    #door .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
}